@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');

@font-face {
    font-family: "ZMWen Regular Script";
    src: url("../fonts/Wen.ttf");
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: "Gabriola";
    src: url("../fonts/Gabriola.ttf");
    unicode-range: U+00-024F;
}

* {
    font-family: "ZMWen Regular Script", "Gabriola", "Noto Serif JP", serif;
}

.hero-head {
    font-size: 2.5vw;
}

.title {
    font-size: 4vw;
}

.subtitle {
    font-size: 3vw;
}


#treemap {
	height: 600px;
	width: 100%;
	margin: auto;
	overflow: scroll;
}
