@font-face {
  font-family: "ZMWen Regular Script";
  src: url("../../../fonts/Wen.ttf");
  unicode-range: U+4E00-9FFF, U+3040-30FF, U+31F0-31FF;
}

@font-face {
  font-family: "Gabriola";
  src: url("../../../fonts/Gabriola.ttf");
  unicode-range: U+00-024F;
}

html {
    height: 200%;
}

body {
    height: 200%;
    background-image: linear-gradient(rgba(245, 240, 228, 0.9), rgba(245, 240, 228, 0.9)), url('../media/DNA.jpg'); 
    background-position: center; 
    background-repeat: repeat; 
    background-size: cover;
    font-family: "ZMWen Regular Script", "Gabriola", "Noto Serif JP", serif;
}
#training-section, #testing-section {
    height: 100%;
	overflow: hidden;
}

#train-vs-test {
    height: 100%;
    position: fixed;
    max-width: 100%;
}

.padding {
    height: 100%;
}

#right {
    width: 60%;
    height: 100%;
    position: relative;
    float: right;
}

#left {
    width: 40%;
    height: 100%;
    float: left;
}

.cat-img-section {
    display: flex;
    flex-direction: column;
    transform: translateX(25%);
}

.cat-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20vh;
    box-shadow: 5px 3px 3px 0px rgba(49, 50, 51, 0.7);
}