:root {
  --brown: #b78846;
}
@font-face {
    font-family: "ZMWen Regular Script";
    src: url("../../fonts/Wen.ttf");
    unicode-range: U+4E00-9FFF, U+3040-30FF, U+31F0-31FF, U+3000-303F, U+FF00-FFEF;
}

@font-face {
    font-family: "Gabriola";
    src: url("../../fonts/Gabriola.ttf");
    unicode-range: U+00-024F;
}

* {
    font-family: "ZMWen Regular Script", "Gabriola", "Noto Serif JP", serif;
}

text {
    font-size: 1.9vw;
}

.hero-head {
    font-size: 2.5vw;
}

.title {
    font-size: 4vw;
}

.subtitle {
    font-size: 3vw;
}

.bar {
    fill: url(#grad);
    stroke: black;
    stroke-width: 1;
    opacity: 0.7;
}

.bar:hover {
    fill: url(#grad_rev);
}



*:before, *:after {
    box-sizing: border-box;
}

#display-area {
    padding: 10px;
    margin: 50px;
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}
