@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');

:root {
    --brown: #b78846;
}
@font-face {
    font-family: "ZMWen Regular Script";
    src: url("../../fonts/Wen.ttf");
    unicode-range: U+4E00-9FFF, U+3040-30FF, U+31F0-31FF, U+3000-303F, U+FF00-FFEF;
}

@font-face {
    font-family: "Gabriola";
    src: url("../../fonts/Gabriola.ttf");
    unicode-range: U+00-024F;
}

* {
    font-family: "ZMWen Regular Script", "Gabriola", "Noto Serif JP", serif;
}

.hero-head {
    font-size: 2.5vw;
}

.title {
    font-size: 4vw;
}

.subtitle {
    font-size: 3vw;
}

.video-link-list, .display-area {
    background-color: #f0fc6255;
}

.video-link-list h3 {
    font-size: 2vw;
}

.video-link-list ul {
    font-size: 1.5vw;
}

#pen-display-area {
    font-size: 2vw;
}

video:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.pen {
    fill: none;
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

    stroke-dashoffset: 0;
    animation-duration: 13s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

