@font-face {
font-family: "HakusyuKaisyo";
src: url("fonts/HakusyuKaisyo.ttf");
}

h1, div {
    background-color: rgba(255, 255, 0, 0.1);
    font-family: 'HakusyuKaisyo', serif;
    font-size: 24pt;
    border: solid 1px black;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

#subtitle-svg{
	position: relative; 
	/*bottom: 60%; 
	right: 20%;*/ 
	border-style: none;
	z-index: 2;
	transform: translate(0, -400px);
}

svg text {
	font-size: 2vw;
    fill: white;
    /*stroke: black;*/
    font-family: 'HakusyuKaisyo';
}


#display-area {
	z-index: -1;
	background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

#gurenge-video {
	z-index: 1;
	background-color: black;
	/*transform: translate(0, 150px);*/
	/*display: none;*/
}

#play:hover {
	box-shadow: 0px 0px 5px 5px rgba(255, 128, 128, 0.5);
}

.title {
	fill: black;
    stroke: none;
}