@font-face {
	font-family: "HakusyuKaisyo";
	src: url("fonts/HakusyuKaisyo.ttf");
}

@font-face {
    font-family: "ZMWen Regular Script";
    src: url("../../fonts/Wen.ttf");
    unicode-range: U+4E00-9FFF, U+3040-30FF, U+31F0-31FF, U+3000-303F, U+FF00-FFEF;
}

@font-face {
    font-family: "Gabriola";
    src: url("../../fonts/Gabriola.ttf");
    unicode-range: U+00-024F;
}

* {
    font-family: "ZMWen Regular Script", "Gabriola", "Noto Serif JP", serif;
}

#subtitle-svg {
	position: relative; 
	border-style: none;
	z-index: 2;
	transform: translate(0, -400px);
}

svg text {
	font-size: 2vw;
    fill: white;
    font-family: 'HakusyuKaisyo';
}

.hero-head {
    font-size: 2.5vw;
}

.title {
	text-align: center;
    font-size: 4vw;
}

.subtitle {
    font-size: 3vw;
}


#display-area {
	margin: auto;
	z-index: -1;
	background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

#gurenge-video {
	z-index: 1;
	background-color: black;
	transform: translateX(10%);
	/*display: none;*/
}

@media (min-width: 0px){
  #subtitle-svg {
  	transform: translate(0, -200px)
  }
}

@media (min-width: 768px){
  #subtitle-svg {
  	transform: translate(0, -360px)
  }
}

@media (min-width: 1024px){
  #subtitle-svg {
  	transform: translate(0, -460px)
  }
}

@media (min-width: 1440px){
  #subtitle-svg {
  	transform: translate(0, -560px)
  }
}